<div class="intro-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-message">
                <h1>Welcome to Conference Central</h1>

                <h3>Start creating and managing your conferences</h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                    <li id="signInLink" ng-hide="getSignedInState()" on-click="return false">
                        <a class="btn btn-default btn-lg" ng-click="signIn()">Google+ SignIn</a>
                    </li>
                    <li id="signOutLink" ng-show="getSignedInState()" on-click="return false">
                        <a class="btn btn-default btn-lg" ng-click="signOut()">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section-a">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr>
            <div class="clearfix"></div>
            <h2>View conferences</h2>

            <p class="lead">View all the conferences and query by city, date, etc.</p>
            <a href="#/conference" class="btn btn-success btn-lg">View conferences</a>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="/img/business1.jpg" alt="">
        </div>
    </div>
</div>

<div class="section-a">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">View Sessions</h2>

            <p class="lead">View all the sessions and sessions in your wishlist</p>
            <a href="#/session" class="btn btn-success btn-lg">View Sessions</a>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <img class="img-responsive" src="/img/business6.jpg" alt="">
        </div>
    </div>
</div>


<div class="section-a">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr>
            <div class="clearfix"></div>
            <h2 class="section-heading">Create new conferences</h2>

            <p class="lead">In 10 seconds or less.</p>
            <a href="#/conference/create" class="btn btn-success btn-lg">Create a conference</a>
        </div>
        <div class="col-lg-5 col-lg-offset-2  col-sm-6">
            <img class="img-responsive" src="/img/business2.jpg" alt="">
        </div>
    </div>
</div>

<div class="section-a">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2>Create new sessions</h2>

            <p class="lead">Create different sessions for your conference.</p>
            <a href="#/session/create" class="btn btn-success btn-lg">Create a session</a>
        </div>
        <div class="col-lg-5 col-sm-pull-6 col-sm-6">
            <img class="img-responsive" src="/img/business4.jpg" alt="">
        </div>
    </div>
</div>

<div class="section-a">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr>
            <div class="clearfix"></div>
            <h2 class="section-heading">View your wishlist</h2>
            <p class="lead">View sessions you're interested.</p>
            <a href="#/wishlist" class="btn btn-success btn-lg">View my wishlist</a>
        </div>
        <div class="col-lg-5 col-lg-offset-2  col-sm-6">
            <img class="img-responsive" src="/img/business5.jpg" alt="">
        </div>
    </div>
</div>


<div class="section-a">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2>Update your profile</h2>

            <p class="lead">Change your display name.</p>
            <a href="#/profile" class="btn btn-success btn-lg">View my profile</a>
        </div>
        <div class="col-lg-5 col-sm-pull-6 col-sm-6">
            <img class="img-responsive" src="/img/business3.jpg" alt="">
        </div>
    </div>
</div>
